<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      {{'CONTACT' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let detail of serviceGroupNames"  >
    <ion-card>
      <ion-card-content>

        <ion-card-title>{{detail.name}}</ion-card-title>

        <ion-list>
          <div *ngIf="detail.url">
            <ion-item text-wrap>
              <ion-icon name="globe" item-left></ion-icon>
              <button ion-button small (click)='openLink(detail.url)'>{{detail.url}}</button>
            </ion-item>
          </div>

          <div *ngIf="detail.helpline ">
            <ion-item text-wrap>
              <ion-icon name="call" item-left></ion-icon>
              <a href="tel:{{detail.helpline}}">{{detail.helpline}} </a>
            </ion-item>
          </div>

          <div *ngIf="detail.contact_email ">
            <ion-item text-wrap>
              <ion-icon name="mail" item-left></ion-icon>
              <a href="mailto:{{detail.contact_email}}">{{detail.contact_email}} </a>
            </ion-item>
          </div>

          <div *ngIf="detail.description ">
            <ion-item text-wrap>
              <ion-icon name="information-circle" item-left></ion-icon>
              {{detail.description}}
            </ion-item>
          </div>

        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-list>


<!--
<ion-card>
  <ion-card-content>
      <ion-card-title>Contatti</ion-card-title>
       <ion-list>
         <ion-item text-wrap>
           <ion-icon name="home" item-left></ion-icon>
           Qui sotto trovi i numeri di telefono che potresti voler chiamare prima di venire a una riunione di NA.
          </ion-item>
           <ion-item text-wrap>
                   <ion-icon name="globe" item-left></ion-icon>
                   <button ion-button small onclick="window.open('https://na-italia.org/', '_system', 'location=yes')"><ion-icon name="globe" item-left></ion-icon>&nbsp;www.na-italia.org</button>
                 </ion-item>

          <ion-item text-wrap>
            <ion-icon name="call" item-left></ion-icon>
           Area Centro-sud: <a href="tel:+393336730795">3336730795 </a>
                   </ion-item>
           <ion-item text-wrap>
             <ion-icon name="call" item-left></ion-icon>
           Area Toscana: <a href="tel:+393247787294">3247787294 </a>
                   </ion-item>
           <ion-item text-wrap>
             <ion-icon name="call" item-left></ion-icon>
           Area Emilia Romagna: <a href="tel:+393279073079">3279073079 </a>
                   </ion-item>
           <ion-item text-wrap>
             <ion-icon name="call" item-left></ion-icon>
           Area Nord-ovest: <a href="tel:+393482477967"> 3482477967 </a>
                   </ion-item>
           <ion-item text-wrap>
             <ion-icon name="call" item-left></ion-icon>
           Area Brescia: <a href="tel:+393382346954">3382346954  </a>
                   </ion-item>
           <ion-item text-wrap>
             <ion-icon name="call" item-left></ion-icon>
           Area Nord: <a href="tel:+393391875713">3391875713  </a>
                   </ion-item>
           <ion-item text-wrap>
             <ion-icon name="call" item-left></ion-icon>
           Area Veneto: <a href="tel:+393394116259">3394116259  </a> (numero provvisorio)
                   </ion-item>
           <ion-item text-wrap>
             <ion-icon name="call" item-left></ion-icon>
           DipendentiOnLine: <a href="skype:0621119354?call0621119354">0621119354  </a>(riunioni su Skype)
     </ion-item>
         </ion-list>
          </ion-card-content>
        </ion-card>
!-->
</ion-content>
