a.active {
  all: revert;
  pointer-events: auto;
  cursor: default;
  text-decoration: underline;
  color: blue;
}

div.views-row {
  padding-bottom: 40px;
    pointer-events: none !important;
}

a {
  background-color: transparent;
  pointer-events: none;
}

a:active,
a:hover {
  outline: 0;
  pointer-events: none;

}

img {
  border: 0;
  pointer-events: none;

}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #2fa4e7;
  text-decoration: none;
  pointer-events: none;

}

a:focus,
a:hover {
  color: #157ab5;
  text-decoration: underline;
  pointer-events: none;

}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  pointer-events: none;

}


img {
  vertical-align: middle;
  pointer-events: none;

}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  pointer-events: none;

}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #317eac;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
}

p {
  margin: 0 0 10px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-sm-10,
.col-sm-2 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}


.row:after,
.row:before {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

p:last-child {
  margin-bottom: 0;
}

h2 {
  font-weight: 300;
}

.view-id-eventi img {
  margin-top: 3rem;
  pointer-events: none;

}
